{if $paginator->isFirst()}<em>&laquo;</em>{else}{if $ajax}<a n:href="paginate!, page => $paginator->page - 1" n:class="ajax">{else}<a n:href="'this' page => $paginator->page - 1">{/if}&laquo;</a>{/if}

{foreach $steps as $step}
 <strong>{if $ajax}<a n:href="paginate!, page => $step" n:class="ajax">{else}<a n:href="'this' page => $step">{/if}{$step}</a></strong>
 {if $iterator->nextValue > $step + 1}<em>&hellip;</em>{/if}
{/foreach}

{if $paginator->isLast()}<em>&raquo;</em>{else}{if $ajax}<a n:href="paginate!, page => $paginator->page + 1" n:class="ajax">{else}<a n:href="'this' page => $paginator->page + 1">{/if}&raquo;</a>{/if}
